<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">

	<body>
	<wicket:extend>
	<a href="#" wicket:id="newKundeLink">Neu Kunde Anlegen</a>
	<div id="feedbackPanel" wicket:id="feedbackPanel" ></div>
	<div id="filters">
		
		<div id="filter_content">
			<span wicket:id="kundenSearchPanel"></span>
		</div>
	</div>
	<div class="clearer"></div>
	
	<div class="table-responsive">
			<table wicket:id="kunden" class="table table-condensed"></table>
	</div>
	
	
	</wicket:extend>	
	</body>
</html>
