<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
	<wicket:panel>

		
		
		<wicket:container wicket:id="navigation"></wicket:container>
		
		<section id="logo">
			<img wicket:id="logo"  style="max-width:100%" />
			
			<a href="home" wicket:id="homeLink"  rel="external" data-ajax="false">Home</a>
			<a href="loginLink" wicket:id="loginLink"  rel="external" data-ajax="false">Login</a>
			<a href="kontaktLink" wicket:id="kontaktLink"  rel="external" data-ajax="false">Kontakt </a>
		</section>
		<section id="userIfo"></section>
	</wicket:panel>
</body>
</html>
