body,p,li,a {
	font-family: georgia, times, serif;
	font-size: 12pt;
}

h1,h2,h3 {
	font-family: 'Yanone Kaffeesatz', arial, serif;
}

body {
	margin: 2%;
	padding: 2%;
}

#feedbackPanel {
	color: red;
	list-style-image: url("../../../images/bkgd-check_rot.png");
}

label.formLabel {
	background: none repeat scroll 0 0 #EEEEEE;
	box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
	color: #555555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 20%;
	padding: 4px 10px;
	position: relative;
	top: 10px;
	z-index: 1;
}

label.tableHeader {
	background: none repeat scroll 0 0 #EEEEEE;
	box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
	color: #555555;
	display: inline-block;
	font-size: 12px;
	min-width: 20%;
	padding: 4px 3px;
	position: relative;
}

input,select {
	width: 240px !important;
	height: 30px;
}
.submit150
{
	width: 150px !important;
}
.submit120
{
	width: 120px !important;
}
.input_120
{
	width: 116px !important;
}
input.ui-helper-hidden-accessible  {
	width: 2%;
	height: 30px;
}

input:focus {
	background-color: #fff;
}

#hd {
	width: auto;
	background-color: #008000;
	margin-top: 0;
	border-bottom: 1px solid #888;
	z-index: 0;
}

#ft {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 99px;
	background-color: #6493D2;
	border-top: 1px solid #888;
	z-index: 0;
}

#logo,#bd {
	width: 100%;
	margin: 0 auto;
	padding: 1% 0% 2%;
}

#logo h1 {
	color: white;
	font-size: 36pt;
	display: inline;
}

#logo img {
	display: inline;
	vertical-align: bottom;

}
#navigation
{
	margin:0 auto;
}

body {
	margin-top: 0;
	padding-top: 0;
}

#logo,#logo h1 {
	margin-top: 0;
	padding-top: 0;
}

#bd {
	position: absolute;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}
ul.menu>li>a,
{
 color:white;
}
a,a:visited,a:hover,a:active {
	color: #04B404;
}

h2 {
	padding: 0;
	margin: 0;
	font-size: 36pt;
	color: #FF5500;
}

h3 {
	padding: 0;
	margin: 0;
	font-size: 24pt;
	color: #092E67;
}

.form-horizontal .duty,.form-horizontal .empty,.form-horizontal .label_100
	{
	float: left;
}

div.duty {
	width: 20px;
	text-align: right;
}

div.empty {
	width: 20px;
	text-align: center;
}

label.label_100 {
	width: 100px;
	text-align: right;
}



#kontaktPanel {
	margin: 2px;
	float: left;
}

#version {
	margin: 2px;
	float: right;
}

.green {
	background-color: green;
}

<!--
Wicket AutoComplete-->div.wicket-aa {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana;
	font-size: 12px;
	background-color: white;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding: 2px;
	margin: 1px 0 0 0;
	text-align: left;
}

.login-form {
	background: url("../../../images/formback_ground.png") no-repeat scroll
		left top transparent;
	color: #666666;
	font-size: 12px;
	padding: 20px 120px 50px 30px;
}

.login_form_footer {
	background: url("../../../images/formFooter.png") no-repeat scroll left
		top transparent;
	color: #666666;
	font-size: 12px;
	padding: 20px 120px 50px 30px;
}

div.wicket-aa ul {
	list-style: none;
	padding: 2px;
	margin: 0;
}

div.wicket-aa ul li.selected {
	background-color: #FFFF00;
	padding: 2px;
	margin: 0;
}

.valid {
	background-color: green;
}

.invalid {
	background-color: red;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td,td {
	border: none;
}

th {
	background-color: #000;
	color: #fff;
	text-align: left;
}

tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

tr:nth-of-type(odd) {
	background-color: #ddd;
}

.loginInfo {
	list-style-image: url("../../../images/bkgd-check.png");
}

ul {
	margin: 0;
	padding: 0;
}



ul.menu li {
	list-style: none;

	text-align: left;
	background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31, 169,
		244, 1) ), to(rgba(0, 28, 78, 1) ) );
	background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31, 169, 244,
		1) 0%, rgba(0, 28, 78, 1) 100% );
}

ul li a {
	display: block;
	text-decoration:none;
	padding: 0 20px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	text-align: left;

	background: -webkit-gradient(linear, left top, left bottom, from(rgb(152, 134, 134)
		), to(rgb(49, 49, 49) ) );
	background: -moz-linear-gradient(top, rgb(152, 134, 134),
		rgb(49, 49, 49) );
	-webkit-transition-property: background;
	-webkit-transition-duration: 700ms;
	-moz-transition-property: background;
	-moz-transition-duration: 700ms;
}

ul li a:hover {
	background: transparent none;
}

ul li.active a {
	background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31, 169,
		244, 1) ), to(rgba(0, 28, 78, 1) ) );
	background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31, 169, 244,
		1) 0%, rgba(0, 28, 78, 1) 100% );
}





